<div class="bg-primary p-2 text-white" [class.bg-warning]="editing" [class.text-dark]="editing">
    <h5>{{editing ? "Edit" : "Create"}} Account</h5>
</div>
<form novalidate #form="ngForm" (ngSubmit)="save(form)">

    <div class="form-group">
        <label>Email</label>
        <input class="form-control" name="email" [(ngModel)]="account.email" />
    </div>

    <div class="form-group">
        <label>Password</label>
        <input class="form-control" name="password" [(ngModel)]="account.password" />
    </div>

    <div class="form-group">
        <label>Account Type</label>
        <select class="form-control" [(ngModel)]="account.accountType" [value]="account.accountType">
            <option *ngFor="let accountType of accountTypes" [ngValue]="accountType">
                {{ accountType }}
            </option>
        </select>
    </div>
    <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" name="description" [(ngModel)]="account.description">
        </textarea>
    </div>
    <div class="form-group">
        <label>Price</label>
        <input class="form-control" name="price" [(ngModel)]="account.price" />
    </div>

    <div class="form-group">
        <label>Image Url</label>
        <input class="form-control" name="img-url" [(ngModel)]="account.imageUrl" />
    </div>

    <button type="submit" class="btn btn-primary" [class.btn-warning]="editing">
        {{editing ? "Save" : "Create"}}
    </button>
    <button type="reset" class="btn btn-secondary" routerLink="/admin/main/products">
        Cancel
    </button>
</form>