<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Category</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let a of getAccounts()">
            <td>{{a.id}}</td>
            <td>{{a.email}}</td>
            <td>{{a.accountType?.name}}</td>
            <td>{{a.price | currency:"USD":"symbol":"2.2-2"}}</td>
            <td>
                <button class="btn btn-sm btn-warning" [routerLink]="['/admin/main/products/edit', a.id]">
                    Edit
                </button>
                <button class="btn btn-sm btn-danger" (click)="deleteAccount(a.id? a.id: 0)">
                    Delete
                </button>
            </td>
        </tr>
    </tbody>
</table>
<button class="btn btn-primary" routerLink="/admin/main/products/create">
    Create New Account
</button>